.mtextarea {
  min-height: 25vh!important;
  max-height: 25vh;
  overflow-y: auto;
}

.mbutton {
  width: 20%;
  margin-right: 40%;
  text-align: center;
  margin-left: 40%;
  margin-bottom: 10vh;
}

.toast-sucess {
  background-color: green!important;
  color: whitesmoke;
}


.toast-error {
  background-color: tomato!important;
  color: whitesmoke;
}